# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy Node.js app to Azure Web App - xs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v1
        with:
          node-version: "18.x"

      - name: Install pnpm, dependencies and build
        run: |
          npm install -g pnpm
          pnpm run prod:build

      # Step to create a zip archive of the 'dist/' folder
      - name: Create dist.zip
        run: zip -r dist.zip dist/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: node-app
          path: dist.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: "Production"
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: node-app
          path: dist.zip

      - name: Unzip artifact
        run: unzip -o ${{ github.workspace }}/dist.zip -d ${{ github.workspace }}/node-app/dist/

      - name: "Deploy to Azure Web App"
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: "xs" # Replace with your actual Azure Web App name
          slot-name: "Production" # Replace with your actual Azure Web App slot name
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_C8DAA58397954B0198E217505BAE202B }}
          package: ${{ github.workspace }}/node-app/dist/
